In [144]:
import pandas as pd

In [145]:
data = pd.read_csv("CVData.csv")

In [146]:
data.head()

,Name,Years of Experience,Expertise,Other Expertise,Education,Level,Score
0,Gurdeep Singh,19.0,Front End Developer,"NumPy, Python, Javascript, Django, Selinium, P...",Bachelors,Fresh,0.2
1,Muhammad Ehtisham,18.0,Import Manager,Shipping and Logistics,Bachelors,Fresh,0.5
2,Syed Hussain,18.0,Assistant Admin,"Sales Coordinator, Audit Trainee",Bachelors,Fresh,0.5
3,Muhammad Ehtisham,18.0,Import Manager,Shipping and Logistics,Bachelors,Senior,1.0
4,Syed Hussain,18.0,Assistant Admin,"Sales Coordinator, Audit Trainee",Bachelors,Senior,1.0

In [147]:
cross_tab = pd.crosstab(data['Education'],data['Level'],margins=True)
print(cross_tab)

Level      Expert  Fresh  Internship  Mid  Senior   All
Education
Bachelors     117    117         117  117     117   585
Masters        25     25          25   25      29   129
PhD             2      2           2    2       2    10
Undergrad      65     65          65   65      65   325
All           209    209         209  209     213  1049

In [148]:
data['Education'].unique()

array(['Bachelors', 'Masters', 'PhD', 'Undergrad'], dtype=object)

In [149]:
data['Level'].unique()

array(['Fresh', 'Senior', 'Internship', 'Expert', 'Mid'], dtype=object)

In [150]:
df = data.groupby(['Education','Level'])['Score'].mean()
df

Education  Level
Bachelors  Expert         5.063675
           Fresh          6.991453
           Internship     3.924786
           Mid            7.481624
           Senior         5.152137
Masters    Expert         6.122000
           Fresh          6.500000
           Internship     4.360000
           Mid            7.516000
           Senior         6.451724
PhD        Expert        11.250000
           Fresh          0.450000
           Internship     0.250000
           Mid            1.250000
           Senior         2.500000
Undergrad  Expert         2.359231
           Fresh          7.200000
           Internship     5.515385
           Mid            4.450615
           Senior         3.001538
Name: Score, dtype: float64

In [151]:
data.apply(lambda x : x.isnull().sum())

Name                      0
Years of Experience       0
Expertise                 0
Other Expertise         257
Education                 0
Level                     0
Score                     0
dtype: int64

257 applicants don't have other experties

In [152]:
null_df = data.loc[data['Other Expertise'].isnull()==True]
null_df.head()

,Name,Years of Experience,Expertise,Other Expertise,Education,Level,Score
6,Muhammad Raza,17.0,Assistant Hardware Engineer,NaN,Bachelors,Senior,1.0
8,Muhammad Raza,17.0,Assistant Hardware Engineer,NaN,Bachelors,Fresh,1.0
9,Muhammad Sohaib,0.0,Accounts & Finance,NaN,Bachelors,Expert,1.0
10,Nafees Sarwar,0.0,Accounts & Finance,NaN,Bachelors,Expert,1.0
11,Ehtesham Ul Haque,0.0,Finance,NaN,Bachelors,Expert,1.0

In [153]:
# Fill Null values with 0

data['Other Expertise'].fillna(0,inplace=True)

In [154]:
# check if null values are filled
data.apply(lambda x : x.isnull().sum())

Name                    0
Years of Experience     0
Expertise               0
Other Expertise         0
Education               0
Level                   0
Score                   0
dtype: int64

In [155]:
data["Education"].replace({"Undergrad":0, "Bachelors":1, "Masters":2, "PhD":3,}, inplace=True)

In [156]:
data["Education"].unique()

array([1, 2, 3, 0], dtype=int64)

In [157]:
data["Level"].replace({"Internship":0, "Fresh":1, "Mid":2, "Senior":3, "Expert":4,}, inplace=True)

In [158]:
data['Level'].unique()

array([1, 3, 0, 4, 2], dtype=int64)

In [159]:
data

,Name,Years of Experience,Expertise,Other Expertise,Education,Level,Score
0,Gurdeep Singh,19.0,Front End Developer,"NumPy, Python, Javascript, Django, Selinium, P...",1,1,0.2
1,Muhammad Ehtisham,18.0,Import Manager,Shipping and Logistics,1,1,0.5
2,Syed Hussain,18.0,Assistant Admin,"Sales Coordinator, Audit Trainee",1,1,0.5
3,Muhammad Ehtisham,18.0,Import Manager,Shipping and Logistics,1,3,1.0
4,Syed Hussain,18.0,Assistant Admin,"Sales Coordinator, Audit Trainee",1,3,1.0
...,...,...,...,...,...,...,...
1044,Mirza Adil,1.0,"Vanilla JS, Node JS, React JS, Java","SQL, CSS, HTML",0,0,9.9
1045,Muhammad Yaseen,0.9,E-commerce Digital Marketing,SEO,0,0,9.9
1046,Maaz Hussain Siddiqui,1.0,Application Developer,"Javascript, PHP, MongoDB, ANdroid, SDK, Flutte...",0,0,10.0
1047,HashamUddin,1.0,Web Developer,"HTML5, CSS, Javascript, Django",0,0,10.0
1048,Sumaira Rafique,1.0,Front End Developer,"CSS3, HTML5, Javascript, Java, PHP, TypeScript",0,0,10.0

In [160]:
data["All_Experties"] = data["Expertise"].astype(str) + "," + data["Other Expertise"].astype(str)

In [161]:
data

,Name,Years of Experience,Expertise,Other Expertise,Education,Level,Score,All_Experties
0,Gurdeep Singh,19.0,Front End Developer,"NumPy, Python, Javascript, Django, Selinium, P...",1,1,0.2,"Front End Developer,NumPy, Python, Javascript,..."
1,Muhammad Ehtisham,18.0,Import Manager,Shipping and Logistics,1,1,0.5,"Import Manager,Shipping and Logistics"
2,Syed Hussain,18.0,Assistant Admin,"Sales Coordinator, Audit Trainee",1,1,0.5,"Assistant Admin,Sales Coordinator, Audit Trainee"
3,Muhammad Ehtisham,18.0,Import Manager,Shipping and Logistics,1,3,1.0,"Import Manager,Shipping and Logistics"
4,Syed Hussain,18.0,Assistant Admin,"Sales Coordinator, Audit Trainee",1,3,1.0,"Assistant Admin,Sales Coordinator, Audit Trainee"
...,...,...,...,...,...,...,...,...
1044,Mirza Adil,1.0,"Vanilla JS, Node JS, React JS, Java","SQL, CSS, HTML",0,0,9.9,"Vanilla JS, Node JS, React JS, Java,SQL, CSS, ..."
1045,Muhammad Yaseen,0.9,E-commerce Digital Marketing,SEO,0,0,9.9,"E-commerce Digital Marketing,SEO"
1046,Maaz Hussain Siddiqui,1.0,Application Developer,"Javascript, PHP, MongoDB, ANdroid, SDK, Flutte...",0,0,10.0,"Application Developer,Javascript, PHP, MongoDB..."
1047,HashamUddin,1.0,Web Developer,"HTML5, CSS, Javascript, Django",0,0,10.0,"Web Developer,HTML5, CSS, Javascript, Django"
1048,Sumaira Rafique,1.0,Front End Developer,"CSS3, HTML5, Javascript, Java, PHP, TypeScript",0,0,10.0,"Front End Developer,CSS3, HTML5, Javascript, J..."

In [162]:
# data["All_Experties"].value_counts()
data["All_Experties_Count"] = data[['Expertise','Other Expertise']].apply(lambda x : len('{},{}'.format(x[0],x[1]).split(",")), axis=1)

In [163]:
data

,Name,Years of Experience,Expertise,Other Expertise,Education,Level,Score,All_Experties,All_Experties_Count
0,Gurdeep Singh,19.0,Front End Developer,"NumPy, Python, Javascript, Django, Selinium, P...",1,1,0.2,"Front End Developer,NumPy, Python, Javascript,...",7
1,Muhammad Ehtisham,18.0,Import Manager,Shipping and Logistics,1,1,0.5,"Import Manager,Shipping and Logistics",2
2,Syed Hussain,18.0,Assistant Admin,"Sales Coordinator, Audit Trainee",1,1,0.5,"Assistant Admin,Sales Coordinator, Audit Trainee",3
3,Muhammad Ehtisham,18.0,Import Manager,Shipping and Logistics,1,3,1.0,"Import Manager,Shipping and Logistics",2
4,Syed Hussain,18.0,Assistant Admin,"Sales Coordinator, Audit Trainee",1,3,1.0,"Assistant Admin,Sales Coordinator, Audit Trainee",3
...,...,...,...,...,...,...,...,...,...
1044,Mirza Adil,1.0,"Vanilla JS, Node JS, React JS, Java","SQL, CSS, HTML",0,0,9.9,"Vanilla JS, Node JS, React JS, Java,SQL, CSS, ...",7
1045,Muhammad Yaseen,0.9,E-commerce Digital Marketing,SEO,0,0,9.9,"E-commerce Digital Marketing,SEO",2
1046,Maaz Hussain Siddiqui,1.0,Application Developer,"Javascript, PHP, MongoDB, ANdroid, SDK, Flutte...",0,0,10.0,"Application Developer,Javascript, PHP, MongoDB...",11
1047,HashamUddin,1.0,Web Developer,"HTML5, CSS, Javascript, Django",0,0,10.0,"Web Developer,HTML5, CSS, Javascript, Django",5
1048,Sumaira Rafique,1.0,Front End Developer,"CSS3, HTML5, Javascript, Java, PHP, TypeScript",0,0,10.0,"Front End Developer,CSS3, HTML5, Javascript, J...",7

In [164]:
df = data.copy()

In [165]:
df.drop(['Name', 'Expertise', 'Other Expertise', 'All_Experties'], axis=1, inplace=True)

In [166]:
df

      Years of Experience   Education  Level  Score  All_Experties_Count
0                     19.0          1      1    0.2                    7
1                     18.0          1      1    0.5                    2
2                     18.0          1      1    0.5                    3
3                     18.0          1      3    1.0                    2
4                     18.0          1      3    1.0                    3
...                    ...        ...    ...    ...                  ...
1044                   1.0          0      0    9.9                    7
1045                   0.9          0      0    9.9                    2
1046                   1.0          0      0   10.0                   11
1047                   1.0          0      0   10.0                    5
1048                   1.0          0      0   10.0                    7

[1049 rows x 5 columns]

In [167]:
X = df.loc[:, df.columns!='Score']
y = df["Score"]

In [172]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X, y)

LinearRegression()

In [186]:
print("Coefficients: \n", reg.coef_)

Coefficients:
 [-0.12783646  1.01984057 -0.23734029  0.00694231]

### Model Input Sequence

1. Years of Experience 

2. Education: "Undergrad":0, "Bachelors":1, "Masters":2, "PhD":3

3. Level: "Internship":0, "Fresh":1, "Mid":2, "Senior":3, "Expert":4

4. Experties Count

In [184]:
reg.predict([[0,1,0,4]]) # 0 exp, graduated, applying for internship, 4 experties

array([6.50968674])

In [185]:
# Same person with 2 years experience scored less than fresh student
reg.predict([[2,1,0,4]])

array([6.25401382])

In [192]:
reg.predict([[2,1,4,4]])

array([5.30465267])

## Polynomial regression: extending linear models with basis functions

In [193]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
model = Pipeline([('poly', PolynomialFeatures(degree=3)),
                   ('linear', LinearRegression(fit_intercept=False))])
# fit to an order-3 polynomial data
model = model.fit(X, y)
model.named_steps['linear'].coef_

array([ 5.31725133e+00, -4.85940459e-01,  1.60892661e-01,  4.60931289e+00,
        3.64366658e-01, -1.16664856e-02, -1.65172152e-01,  1.76351080e-01,
       -7.20583778e-02,  1.16121368e+00,  1.40297223e+00, -1.96160889e-01,
       -3.06083713e+00, -2.89134933e-01,  2.41078026e-02,  2.06663262e-03,
       -1.15925693e-02, -2.21600108e-02, -1.91150311e-03,  7.70239968e-02,
        1.92205812e-02,  5.12181129e-02,  1.10390666e-01, -8.73984146e-04,
        7.39719399e-03, -5.45218966e-01, -1.21760684e-01,  3.29451800e-02,
       -3.31029463e-01,  1.00596325e-01, -2.76534421e-02,  3.88321306e-01,
        3.18583065e-02,  5.51594973e-03, -2.43488042e-03])

In [202]:
model.predict([[0,1,0,4]]) # 0 exp, graduated, applying for internship, 4 experties

array([6.68617992])

In [205]:
# Same person with 2 years experience scored less than fresh student
model.predict([[2,1,0,4]])

array([5.50090357])

In [197]:
model.predict([[3,2,4,4]])

array([5.5712861])

In [206]:
import pickle
pickle.dump(model, open("finalized_model.sav", 'wb'))

In [207]:
loaded_model = pickle.load(open("finalized_model.sav", 'rb'))

In [208]:
loaded_model.predict([[2,1,0,4]])

array([5.50090357])